<app-index></app-index>
<div class="about-section" style="margin-top: 7%;">
    <h1>ABOUT US PAGE</h1>
  </div>

<div class="main-text">
    <p>
      A hospital is a health care institution providing patient treatment with specialized health science and auxiliary healthcare staff and medical equipment.[2] The best-known type of hospital is the general hospital, which typically has an emergency department to treat urgent health problems ranging from fire and accident victims to a sudden illness. A district hospital typically is the major health care facility in its region, with many beds for intensive care and additional beds for patients who need long-term care.
        
        </p>
</div>
  
  <h2 style="text-align:center">OUR TEAM</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/man.jpg" alt="Aayush" style="width:100%" class="images">
        <div class="container">
          <h2>Dinesh</h2>
          <p>dinesh@gmail.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
            <img src="../../../assets/Image/girl.jpg" alt="Shipra" style="width:100%" class="images">
            <div class="container">
                <h2>Bhabna
                </h2>
                <p>bhabna@gmail.com
                  </p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/girl.jpg" alt="Rashi" style="width:100%" class="images">
        <div class="container">
          <h2>Pavithra
          </h2>
          <p>pavithra@gmail.com
          </p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="card">
            <img src="../../../assets/Image/girl.jpg" alt="Anirudh" style="width:100%" class="images">
          <div class="container">
            <h2>Alekhya
            </h2>
            <p>alekhya
              @gmail.com</p>
            <p><button class="button">Contact</button></p>
          </div>
        </div>
      </div>

  </div>